@model User

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9">
			<div class="row">
				<div class="col page-header d-flex justify-content-center">
					<h2 class="page-title">User Details</h2>
				</div>
			</div>

			<div class="row flex-column align-content-center mt-3">
				<div class="col">
					<div class="card">
						@* <div class="card-header text-center">User</div> *@
						<div class="card-body">
							<div class="row justify-content-center">
								<div class="col-6 d-flex justify-content-center">
									@if (ViewBag.Image != null)
									{
										<img src="@ViewBag.Image" alt="Profile Image" />
									}
									else
									{
										<img src="~/images/128px-Default_pfp.svg.png" alt="Profile Image" />
									}
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-6">
									<label class="form-label">Name</label>
									<label class="form-control">@Model.DisplayName</label>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-6">
									<label class="form-label">Email</label>
									<label class="form-control">@Model.Email</label>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col d-flex justify-content-center gap-3">
									<button class="btn btn-danger" type="button" onclick="$('#del_modal').toggle()">Remove</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col">
					<div class="card" style="height: 400px;max-height: 400px;">
						<div class="card-header">Groups</div>
						<div class="card-body">
							<ul class="list-group">
								@foreach (var g in ViewBag.Groups)
								{
									@if (g != null)
									{
										<li class="list-group-item">
											<a asp-action="GroupDetails" asp-route-id="@g.Id">
											<div class="row">
												<div class="col text-nowrap text-truncate" title="@g.Name">
													@g.Name
												</div>
											</div>
										</a>
									</li>}
								}
							</ul>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="height: 400px;max-height: 400px;">
						<div class="card-header">Tasks</div>
						<div class="card-body">
							<ul class="list-group">
								@foreach (var t in ViewBag.Tasks)
								{
									@if (t != null)
									{
										<li class="list-group-item">
											<a asp-action="TaskDetails" asp-route-id="@t.Id">
												<div class="row">
													<div class="col text-nowrap text-truncate" title="@t.Title">
														@t.Title
													</div>
													<div class="col-auto">
														@* <small class="text-muted" title="Due Date">@t.DueAt</small> *@
													</div>
													<div class="col-auto">
														@if (@t.IsImportant)
														{
															<span title="Important"><i class="fas fa-exclamation" style="color:red"></i></span>
														}
													</div>
												</div>
											</a>
										</li>
									}
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" id="del_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Remove confirmation</h5>
				<button type="button" class="btn-close" onclick="$('#del_modal').toggle()"></button>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to remove this user?
					<small>User will be removed from your staff list.</small>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" onclick="$('#del_modal').toggle()">Cancel</button>
				<button type="button" class="btn btn-danger" onclick="removeUser(@Model.Id)">Remove</button>
			</div>
		</div>
	</div>
</div>