@model List<User>;

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9">
			<div class="row">
				<div class="col page-header d-flex justify-content-center">
					<h2 class="page-title">Users</h2>
				</div>
			</div>

			<div class="row align-content-center mt-3">
				<div class="col-md-6">
					<div class="card" style="height:700px;max-height:700px;">
						<div class="card-header text-center">Requests</div>
						<div class="card-body overflow-scroll">
							<div class="list-group">
								@foreach (var u in ViewBag.ReqUsers)
								{
									<div class="list-group-item list-group-item-action">
										<div class="row">
											<div class="col-auto align-content-center">
												<img src="~/images/64px-Default_pfp.svg.png" class="card-img img-fluid" />
											</div>
											<div class="col">
												<h6>@u.DisplayName</h6>
												<div class="card-text">
													@u.Email
												</div>
											</div>
											<div class="col d-flex align-items-center justify-content-end gap-2">
												<a href="#" class="" onclick="acceptReq(@u.Id)" title="Accept"><i class="fa-solid fa-circle-check fs-2" style="color:green;"></i></a>
												<a href="#" class="" onclick="rejectReq(@u.Id)" title="Reject"><i class="fa-solid fa-circle-xmark fs-2" style="color:red;"></i></a>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card" style="height:700px;max-height:700px;">
						<div class="card-header text-center">My Staff</div>
						<div class="card-body overflow-scroll">
							<ul class="list-group">
								@foreach (var u in Model)
								{
									<li class="list-group-item">
										<a asp-action="UserDetails" asp-route-id="@u.Id">
											<div class="row">
												<div class="col-auto align-content-center">
													<img src="~/images/64px-Default_pfp.svg.png" class="card-img" />
												</div>
												<div class="col">
													<h6>@u.DisplayName</h6>
													<div class="card-text">
														@u.Email
													</div>
												</div>
											</div>
										</a>
									</li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
